# ref: https://github.com/marketplace/actions/image-actions
name: Compress Images

on:
  pull_request:
    types: [opened, reopened, synchronize, labeled, unlabeled]
    # Run Image Actions when JPG, JPEG, PNG, WebP or AVIF files are added or changed.
    # See https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions#onpushpull_requestpaths for reference.
    paths:
      - '**.jpg'
      - '**.jpeg'
      - '**.png'
      - '**.webp'
      - '**.avif'
  workflow_dispatch:

concurrency:
  group: "compress-images"
  cancel-in-progress: true

# permissions:
#   contents: write
#   pull-requests: write
#   id-token: write
#   actions: write

jobs:
  build:
    # Only run on Pull Requests within the same repository, and not from forks.
    if: github.event.pull_request.head.repo.full_name == github.repository && contains(github.event.pull_request.labels.*.name, 'ci-image')
    name: calibreapp/image-actions
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Compress PR Images
        uses: calibreapp/image-actions@main
